<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Order List</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>All Orders</h2>
<a th:href="@{/orders/new}">Place New Order</a>
<table>
    <thead>
    <tr><th>ID</th><th>Time</th><th>Total</th><th>Actions</th></tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${order.orderTime}"></td>
        <td th:text="${order.total}"></td>
        <td><a th:href="@{'/orders/' + ${order.id}}">View</a></td>
    </tr>
    </tbody>
</table>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>